<html>
  <body>
  	<h1>Enter Configurations</h1>
    <form method="POST" action="/config/">

      <b> <p1>Road</p1> </b>
      <br> <br>
      <label for="x11">x11</label>
      <input type="text" name="x11">
      <br> <br>
      <label for="x12">x12</label>
      <input type="text" name="x12">
      <br> <br>
      <label for="x13">x13</label>
      <input type="text" name="x13">
      <br> <br>
      <label for="x14">x14</label>
      <input type="text" name="x14">
      <br> <br>
      <label for="x21">x21</label>
      <input type="text" name="x21">
      <br> <br>
      <label for="x22">x22</label>
      <input type="text" name="x22">
      <br> <br>
      <label for="x23">x23</label>
      <input type="text" name="x23">
      <br> <br>
      <label for="x24">x24</label>
      <input type="text" name="x24">
      <br> <br>
      <label for="y11">y11</label>
      <input type="text" name="y11">
      <br> <br>
      <label for="y22">y22</label>
      <input type="text" name="y22">
      <br> <br>
      <label for="y1">y1</label>
      <input type="text" name="y1">
      <br> <br>
      <label for="y2">y2</label>
      <input type="text" name="y2">
      <br> <br> <br> <br>
      
      <b> <p2>Camera</p2> </b>
      <br> <br>
      <label for="username">Username</label>
      <input type="text" name="username">
      <br> <br>
      <label for="password">Password</label>
      <input type="text" name="password">
      <br> <br>
      <label for="ipaddress">IP Address</label>
      <input type="text" name="ipaddress">
      <br> <br> <br> <br>
      
      <b> <p3>Radar</p3> </b>
      <br> <br>
      <label for="baudrate">Baud Rate</label>
      <input type="text" name="baudrate">
      <br> <br>
      <label for="samplefrequency">Sample Frequency</label>
      <input type="text" name="samplefrequency">
      <br> <br>
      <label for="speedunit">Speed Unit</label>
      <input type="text" name="speedunit">
      <br> <br>
      <label for="direction">Direction</label>
      <input type="text" name="direction">
      <br> <br>
      <label for="fftmode">FFT Mode</label>
      <input type="text" name="fftmode">
      <br> <br>
      <label for="jsonmode">JSON Mode</label>
      <input type="text" name="jsonmode">
      <br> <br>
      <label for="rawdata">Raw Data</label>
      <input type="text" name="rawdata">
      <br> <br>
      <label for="numberreport">Number Report</label>
      <input type="text" name="numberreport">
      <br> <br>
      <label for="rangereport">Range Report</label>
      <input type="text" name="rangereport">
      <br> <br>
      <label for="speedreport">Speed Report</label>
      <input type="text" name="speedreport">
      <br> <br>
      <label for="reportunit">Report Unit</label>
      <input type="text" name="reportunit">
      <br> <br> <br>

      <input type="submit" name="submit_button" value="Submit">
      <input type="submit" name="submit_button" value="Use Defaults">
    </form>

  </body>
</html>