<html>
  <body>
  	<h1>Traffic Surveillance</h1>
    <form method="POST" action="/">
      <input type="submit" name="submit_button" value="Go to Configurations">
      <input type="submit" name="submit_button" value="Go to Camera API">
      <input type="submit" name="submit_button" value="Go to Camera Records">
      <input type="submit" name="submit_button" value="Go to Radar API">
      <input type="submit" name="submit_button" value="Go to Radar Records">
    </form>
  </body>
</html>
