<html>
  <body>
  	<h1>Radar Record Simulator</h1>
    <form method="POST" action="/speed_process/">
      <label for="speed">Speed</label>
      <input type="text" name="speed">
      <br> <br>
      <label for="vehiclerange">Vehicle Range</label>
      <input type="text" name="vehiclerange">
      <br> <br>
      <label for="datetime">Date-Time</label>
      <input type="text" name="datetime">
      <br> <br>

      <input type="submit" name = "submit_button" value="Add Radar Record">
      <input type="submit" name = "submit_button" value="Start Application">
      <input type="submit" name = "submit_button" value="Stop Application">
      <input type="submit" name = "submit_button" value="View Speed Records">
      <input type="submit" name = "submit_button" value="Home">
    </form>

  </body>
</html>
